body{

    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;

}

.logo{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

}

#ingrese-texto{

    position: absolute;
    width: 577px;
    height: 400px;
    left: 240px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: 0;


}

.input-padron{

    display: inline-block;
    background: #F3F5FC;
}

::placeholder{

    color: #0A3871;

}

.botones{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    justify-content: center;

    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex-grow: 1;

}

.encriptar:hover{

    background: #D8DFE8;
    color: #0A3871;
    font-family: 'Inter';
    font-size:22px ;
    font-weight: bold;
    
}

.desencriptar{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    justify-content: center;

    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    flex-grow: 1;

}

.desencriptar:hover{

    background: #0A3871;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size:22px ;
    font-weight: bold;

}

.rectangulo{

    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.muñeco{

    position: absolute;
    padding-top: 238px;
    padding-left:32px;

}

.caja-texto{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    padding-top: 579px;
    padding-left: 32px;
}

.texto1{

    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;


    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto2{

    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.textoDevuelto{

    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    padding-top: 12px;
    padding-left: 12px;
    color: #0A3871;
}

.copiar{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    justify-content: center;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}

.copiar:hover{

    background: #0A3871;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size:22px ;
    font-weight: bold;
    
}

@media screen and (max-width:375px){
    .botones{

        display:flex;
        flex-direction: column;
    }

    .rectangulo{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;

        
        top: 1170px;
        left: 225px;
    }


}